
<section class="content-header">

  <h2>This works?!</h2>

  <div class="field row" id="field_open_slots">
    <div class="col-md-2">
      <form role="form" method="POST" class="form-horizontal" id="form1" action="/data_save">
        <div class="form-group">
          <label for="title">Title of Documentation</label>
          <input type="text" name="title">
        </div>
        <div class="form-group">
          <label for="language">Language of Documentation</label>
          <input type="text" name="language">
        </div>
        <div class="form-group">
          <label for="tags">Tags used in this Documentation</label>
          <input type="text" name="tags">
        </div>
        <div class="form-group">
          <label for="answer">Answer for Documentation</label>
          <textarea form="form1" name="answer" cols="30"></textarea>
        </div>
        <div class="form-group">
          <label for="context">Context of Documentation</label>
          <textarea form="form1" name="context" cols="30"></textarea>
        </div>
        <div class="form-group">
          <label for="example">Examples</label>
          <textarea form="form1" name="example" cols="30"></textarea>
        </div>
        <button type="submit" form="form1" value="Submit">Submit</button>
      </form>
      <!-- /.form-group -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>